* {
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
}

.images img{
    max-width: 360px;
}

.txt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1{
    color: rgb(255, 255, 255);
    font-family: Verdana;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0%;
    text-align: center;
}

a{
    color: rgb(255, 255, 255);
    font-family: "Helvetica Neue";
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}